<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
  <!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
  <div class="row">
    {% for word in g.vocab %}
      <div class="col-xs-2 text-center" id={{word + "_"}}> {{ word }} </div>
      {% if loop.index is divisibleby 3 %}
      </div> <!-- row -->
      <div class="row">
      {% endif %}
    {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
  </form>
</div></div>

<!-- <br /> -->

<h2 id="found"></h2>
<p id="results"></p>
<p class="message" id="message"></p>

<script>
$("#entry").submit( function(event) {
  event.preventDefault();
  });


$("#attempt").keypress(function(event) {
  var txt = $("#attempt").val();
  var keycode = event.which || event.keyCode;
  var letter = String.fromCharCode(keycode);

  txt = txt + letter

  $.getJSON( "/_check", { text: txt }, 
              function(data) {
                
                if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz".includes(letter)) {
                  $("#attempt").val(txt.slice(0, -1));
                } else {
                  rsval = data.result.resBool;
                  resstr = ""
                  if (rsval) {
                    matlist = data.result.matchesList;
                    $("#attempt").val("");
                    $("#" + txt + "_").css("color", "lightgrey");
                    if (matlist.length > 0) {
                      $("#found").html("You found");
                    }
                    for (var i in matlist) {
                      resstr = resstr + matlist[i] + " "
                    }
                    wordlist = data.result.wlist;
                    for (var i in wordlist) {
                      $("#" + wordlist[i] + "_").css("background-color", "white");
                    }
                    $("#results").html(resstr);
                    } else {
                      errcode = data.result.errorCode;
                      msg = data.result.message;
                      if (errcode === 1) {
                        $("#attempt").val(txt.slice(0, -1));
                      } else if (errcode === 2) {
                        wordlist = data.result.wlist;
                        parlist = data.result.par;
                        
                        for (var i in wordlist) {
                          if (parlist.includes(wordlist[i]) && parlist !== []) {
                            $("#" + wordlist[i] + "_").css("background-color", "yellow");
                          } else {
                            $("#" + wordlist[i] + "_").css("background-color", "white");
                          }
                        }
                      }
                      $("#message").html(msg);
                    }
                    redirurl = data.result.url;
                    if (redirurl) {
                      window.location.replace(redirurl)
                    }
                  }
              }
            );
  });

$("#attempt").keydown(function(event) {
  if (event.which === 8) {
    var txt = $("#attempt").val();
    txt = txt.slice(0, -1)
    if (txt !== "") {
      $.getJSON( "/_check", { text: txt }, 
              function(data) {
                rsval = data.result.resBool;
                resstr = ""
                
                if (!rsval) {
                    errcode = data.result.errorCode;
                    msg = data.result.message;
                    if (errcode === 2) {
                      wordlist = data.result.wlist;
                      parlist = data.result.par;
                      for (var i in wordlist) {
                        if (parlist.includes(wordlist[i]) && parlist !== []) {
                          $("#" + wordlist[i] + "_").css("background-color", "yellow");
                        } else {
                          $("#" + wordlist[i] + "_").css("background-color", "white");
                        }
                      }
                      $("#message").html(msg);
                    }
                }
              }
            );
    } else {
      $.getJSON( "/_check", { text: txt }, 
              function(data) {
                wordlist = data.result.wlist;
                for (var i in wordlist) {
                  $("#" + wordlist[i] + "_").css("background-color", "white");
                }
              }
            );
      
    }
  }
});
</script>

 </div> <!-- container -->
</body> </html>
